<html>
	<head>  <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}" />
		<style>
	a:link {
	  color: white;
	  background-color: black;
		padding: 15px 25px;
		display: inline-block;
		border-radius: 4px;
	  text-decoration: none;
	}

	a:visited {
	  color: grey;
	  background-color: transparent;
	  text-decoration: none;
	}

	a:hover {
	  color: blue;
	  background-color: transparent;
	  text-decoration: underline;
	}
	</style>
</head>
	<body>
		<div class="container" style="background-color: #F9E79F">
		<div class="heading">
			<h1 style="text-align:center">Reddit Flair Detector</h1>
		</div>


		<form method="POST" action="/">
			<div class="form-container">
					<h3>Please enter a valid Reddit URL from r/india</h3>
				<div class="text-area">
				<input type="text" name="url" id="textBox"></div>
				<br>
				<div class="btn-container">
				<input  type="submit" class="btn" value="SUBMIT">
			</div></div>

		</form>
		<center><a href="http://127.0.0.1:9000/automated_testing">Automated Testing</a></center>
	</div>
	</body>
</html>
